
<template>
  <div>
    <input type="text" id="inputNoOfRows" style="width:50px;margin: 5px;" v-model="per_page" v-on:change="beginMethod" />
    <input type="text" id="inputFilePath" style="width:400px;margin: 5px;" placeholder="./logs/laravel.log" disabled>
  </div>

  <div style="width: 70%;">
    <table style="border: 1px solid;width: 100%;">
        <tr v-for="(item, index) in fileData" :key="index">
            <td style="padding: 5px;width:4%;background: #ddd;">{{++index}}</td>
            <td>{{item}}</td>
        </tr>
    </table>
  </div>

  <div>
    <button @click="beginMethod"> Begin </button>
    <button @click="previousPage">Previous</button>
    <button @click="nextPage">Next</button>
    <button @click="endFile">End</button>
  </div>

</template>

<script>
export default{
    data(){
        return{
            fileData : [],
            res : {},
            end : null,
            next : null,
            previous : null,
            per_page : 10
        }
    },
    methods:{
        /**
         * loadFiledata
         * get file content from api.
         * set next page
         * set previous page
         * set end page
         * @return void
         */
        loadFiledata(pageNo){
            axios.get('api/file'+pageNo,{ params: { per_page: this.per_page} }).then((res) => {
                this.next = res.data.next_page_url;
                this.previous = res.data.prev_page_url;
                this.end = '/?page='+Math.ceil(res.data.total / this.per_page);
                this.fileData = res.data.data;
            });
        },
        /**
         * beginMethod
         * get begin of file content.
         * @return void
         */
        beginMethod(){
            this.loadFiledata('/?page=1');
        },
        /**
         * endFile
         * get end of file content.
         * @return void
         */
        endFile(){
            if(this.end != null){
                this.loadFiledata(this.end);
            }
            
        },
        /**
         * previousPage
         * get previous page content.
         * @return void
         */
        previousPage(){
            if(this.previous != null){
                this.loadFiledata(this.previous);
            }
        },
        /**
         * nextPage
         * get next page content.
         * @return void
         */
        nextPage(){
            if(this.next != null){
                this.loadFiledata(this.next);
            }
        },
    },
    created(){
        this.loadFiledata('/?page=1');
    }
}
</script>